
@if ($debug-breakpoint == true) {
  body:before {
    content: 'grid-breakpoint-xxs';
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: auto;
    background: rgba(0,0,0,0.85);
    color: #FFF;
    font-weight: bold;
    z-index: 999;
    padding: 0.5em 2em;

    @media(min-width: #{$grid-breakpoint-xs-min}) {
      content: 'grid-breakpoint-xs';
    }
    @media(min-width: #{$grid-breakpoint-s-min}) {
      content: 'grid-breakpoint-s';
    }
    @media(min-width: #{$grid-breakpoint-m-min}) {
      content: 'grid-breakpoint-m';
    }
    @media(min-width: #{$grid-breakpoint-l-min}) {
      content: 'grid-breakpoint-l';
    }
  }
}

