

// Show the current breakpoints in the lower left corner.
$debug-breakpoint: false;

// Colors
$color-accent     : rgb(0, 20, 160);
$color-body       : rgb(249, 249, 244);
$color-text-body  : rgb(60, 60, 60);
$color-text-light : rgb(184, 186, 188);
$color-ui-light   : lighten($color-text-light, 14%);

// Font stacks
$font-sans-serif  : 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-serif       : 'Cardo', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

// XXS = smaller than ~ 600 px width
// XS = over ~ 600 px width
// S = over ~ 760 px width
// M = over ~ 996 px width
// L = over ~ 1100 px width
$grid-breakpoint-xxs-max: 37.49em !default;
$grid-breakpoint-xs-min: 37.5em !default;
$grid-breakpoint-xs-max: 45.99em !default;
$grid-breakpoint-s-min: 46em !default;
$grid-breakpoint-s-max: 61.99em !default;
$grid-breakpoint-m-min: 62em !default;
$grid-breakpoint-m-max: 74.99em !default;
$grid-breakpoint-l-min: 75em !default;


// ------------ Settings for Magnific Popup ---------------

// overlay
$mfp-overlay-color:                   #EEE !default;                       // Color of overlay screen
$mfp-overlay-opacity:                 0.8 !default;                        // Opacity of overlay screen
$mfp-shadow:                          0 !default; // Shadow on image or iframe

// spacing
$mfp-popup-padding-left:              8px!default ;                        // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px !default;                        // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040 !default;                       // Base z-index of popup

// controls
$mfp-include-arrows:                  true !default;                       // Include styles for nav arrows
$mfp-controls-opacity:                0.65 !default;                       // Opacity of controls
$mfp-controls-color:                  #333 !default;                       // Color of controls
$mfp-controls-border-color:           #3F3F3F !default;                      // Border color of controls
$mfp-inner-close-icon-color:          #333 !default;                       // Color of close button when inside
$mfp-controls-text-color:             #555 !default;                       // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       #333 !default;                       // Hover color of preloader and "1 of X" indicator
$mfp-IE7support:                      true !default;                       // Very basic IE7 support

// Iframe-type options
$mfp-include-iframe-type:             true !default;                       // Enable Iframe-type popups
$mfp-iframe-padding-top:              40px !default;                       // Iframe padding top
$mfp-iframe-background:               #000 !default;                       // Background color of iframes
$mfp-iframe-max-width:                900px !default;                      // Maximum width of iframes
$mfp-iframe-ratio:                    9/16 !default;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
$mfp-include-image-type:              true !default;                       // Enable Image-type popups
$mfp-image-background:                #FFF !default;
$mfp-image-padding-top:               40px !default;                       // Image padding top
$mfp-image-padding-bottom:            40px !default;                       // Image padding bottom
$mfp-include-mobile-layout-for-image: true !default;                       // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #333 !default;                    // Caption title color
$mfp-caption-subtitle-color:          #555 !default;                    // Caption subtitle color

// A11y
$mfp-use-visuallyhidden:              false !default;                      // Hide content from browsers, but make it available for screen readers

