@import 'settings';
@import 'fonts';
@import 'magnific-popup/main';
@import 'slicknav';
@import 'breakpointdebug';
@import 'prism';

html {
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";

  @media (max-width: #{$grid-breakpoint-l-min}) {
    font-size: 14px;
  }

}

body {
  font-family: $font-serif;
  background-color: $color-body;
  color: $color-text-body;
  counter-reset: sidenote-counter;
}

div.container {
  max-width: 1140px;
  width: calc(100% - 8rem);
  @media (max-width: #{$grid-breakpoint-xs-min}) {
    width: calc(100% - 3rem);
  }
}

body.boxed-page {
  background: desaturate(darken($color-body, 15), 25); // Todo: make configurable color
}

div.boxed-page {
  margin: 0 auto 2rem;
  max-width: 1240px;
  border: 1px solid darken($color-body, 15);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  background-color: $color-body;
}

header {

  h1 {
    margin-top: 9rem;

    @media (max-width: #{$grid-breakpoint-l-min}) {
      margin-top: 7rem;
    }

    @media (max-width: #{$grid-breakpoint-xs-min}) {
      margin-top: 6rem;
    }

  }

}

h1,
h2,
h3 {

  font-weight: 400;
  line-height: 1.2;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: darken($color-accent, 15%);
    }
  }
}

h1 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;

  @media (max-width: #{$grid-breakpoint-m-min}) {
    font-size: 2.5rem;
  }

  @media (max-width: #{$grid-breakpoint-xs-min}) {
    font-size: 2rem;
  }

}

h2 {
  margin: 2.2rem 0 0 0;
  font-size: 2.2rem;

  @media (max-width: #{$grid-breakpoint-m-min}) {
    font-size: 2rem;
  }

  @media (max-width: #{$grid-breakpoint-xs-min}) {
    font-size: 1.8rem;
  }

}

h3 {
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: block;
  line-height: 2rem;
}

p {
  font-family: $font-serif;
}

hr {
  margin: 2.2rem 0;
}

section > p.meta {
  margin-top: -1rem;
}

p.meta {
  font-size: 1.25rem;
  color: #555;
  margin: 0.7rem 0;
  font-style: italic;

  a {
    background: none;
    &:hover {
      background: none;
      color: darken($color-accent, 20%);
    }
  }

}


table {
  width: 100%;
  clear: left;
  text-align: right;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  border-collapse: separate;
  border-spacing: 0 5px;
  -webkit-font-feature-settings: 'tnum';
  /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
}

thead th {
  border-bottom: 1px solid #666;
  font-weight: bold;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

td.text {
  text-align: left;
}

span.table-label {
  padding-top: 8px;
}

/* to maintain height relative to table header row */
table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;

  th {
    border-bottom: 1px solid #333333;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
    text-align: center;
  }

  th.cmid {
    border-bottom: 1px solid #666666;
  }

  th.nocmid {
    border-bottom: none;
  }

  tbody tr:first-child td {
    padding-top: 0.65ex;
  }

   /* add space between thead row and tbody */
  td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
  }

  caption {
    font-size: 90%;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top;
  }

  tbody tr td.l {
    text-align: left !important;
  }

  tbody tr td.c {
    text-align: center !important;
  }

  tbody tr td.r {
    text-align: right !important;
  }

}

article {

  figure {
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 3em;
  }

  figcaption {
    float: right;
    clear: right;
    margin-right: -48%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
  }

  figure.fullwidth figcaption {
    margin-right: 24%;
  }

  @media(min-width: #{$grid-breakpoint-m-min}) {
    padding-right: 2rem;
  }


}

aside {
  padding-top: 0.8rem;
    color: lighten(desaturate($color-text-body, 50), 20);


  p, ol, ul {
    font-size: 1.15rem;
    line-height: 1.7rem;
  }

  a {
    $color: lighten(desaturate($color-accent, 80), 30);
    color: $color;
    text-decoration: none;
    background-image: linear-gradient(rgba($color, 0.25) 0%, $color 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 86%;
    // Clear descendors from underline
    text-shadow: 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white;
  }

}

aside.sideimage {
  float: right;
  clear: right;
  margin-right: calc(-42% - 3rem);
  width: 42%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;

  @media (max-width: #{$grid-breakpoint-m-min}) {
    float: none;
    margin-right: 0;
    width: 100%;
  }

}

article p a,
aside p a {
    color: $color-accent;
    text-decoration: none;
    // Underline via gradient background
    background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 86%;
    // Clear descendors from underline
    text-shadow: 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white;
    &:hover {
      color: darken($color-accent, 11%);
      background-image: linear-gradient(to bottom, darken($color-accent, 6%) 0%, darken($color-accent, 6%) 100%);
    }
    // Style selected links (or else text-shadow makes it look crazy ugly)
    // Pseudo selectors must go separately, or they break each other
    /*
    &,
    > * {
      &::selection {
        background-color: inherit;
        color: $color-text-body;
        text-shadow: none;
      }
      &::-moz-selection {
        background-color: lighten($color-accent, 25%);
        color: $color-text-body;
        text-shadow: none;
      }
    } */
  }


section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p, ol, ul {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

ul li {
  list-style: disc;
}

blockquote {

  border-left: 5px solid #CCC;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-style: italic;
  margin-left: 0;
  padding: 0.7rem 1.4rem;

  footer {
    font-size: 1.1rem;
    font-style: normal;
    text-align: right;

  }

}


li {
  padding: 0.25rem 0;
}

samp {
  background-color: transparent;
}



.table-caption {
  float: right;
  clear: right;
  margin-right: calc(-50% - 3rem);
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
}


.imageholder {
  padding: 4px;
  background-color: lighten($color-body, 10);
  border: 1px solid darken($color-body, 20);
  display: block;

  a {
    background: none;
  }

  img {
    display: block;
  }

  span {
    font-style: italic;
    text-align: center;
    display: block;
    color: #666;
    margin: 0.5em 0;
  }

}


.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: #E8E8E8;
  padding: 2px;
}

h1 .code, h2 .code, h3 .code {
  font-size: 0.80em;
}

.sidenote .code {
  font-size: 1rem;
}

pre {

  background-color: rgb(244, 243, 236);

  @media (min-width: #{$grid-breakpoint-s-max}) {
    margin-right: -260px;
  }

  .code {
    overflow-x: scroll;
  }
}

.fullwidth {
  max-width: 90%;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

body.sans {
  p, li {
    font-family: $font-sans-serif;
    font-size: 1.2rem;
  }

}

nav#mainnav {
  border-bottom: 1px solid darken($color-body, 15);
  background: transparentize(darken($color-body, 10), 0.15);
  min-height: 3rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;

  span.sitename,
  span.pagename {
    font-size: 1.6em;
    line-height: 2.3em;
    position: absolute;

    @media (max-width: #{$grid-breakpoint-l-min}) {
      font-size: 1.4em;
      line-height: 2.4em;
    }
    @media (max-width: #{$grid-breakpoint-m-min}) {
      font-size: 1.2em;
      line-height: 2.9em;
    }

  }

  a {
    color: #222;
    text-decoration: none;
  }

}

/* The Main menu itself.. */
#mainmenu {

  display: block;
  float: right;
  margin-top: 0.2rem;

  ul {
    // float: right;
    margin: 0;
    padding: 0;
  }

  ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    line-height: 3.4rem;
    padding: 0 1em;
    font-size: 92%;

    @media (max-width: #{$grid-breakpoint-l-min}) {
      font-size: 18px;
      padding: 0 0.75em;
    }
    @media (max-width: #{$grid-breakpoint-m-min}) {
      font-size: 16px;
      padding: 0 0.5em;
    }

  }

  ul li {
    position: relative;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
  }

  ul li.current-menu-item {
    background:#ddd
  }

  ul li:not(:last-of-type):hover {
    background:#f6f6f6
  }

  ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
  }

  ul ul li {
    float:none;
    width: 300px
  }

  ul ul ul {
    top:0;
    left:100%
  }

  ul li:hover > ul {
    display:block
  }

  form {
    margin-top: 0.4em;

    input {
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 10em;
      margin: 0.6em 0 0 1em;
    }
  }

}

/* Slicknav tweaks */

.slicknav_menu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  #mainmenu {
    display: none;
  }

  .slicknav_menu {
    display: inline-block;
    float: right;
  }

}

/* Pagination */
div.pagination {
  margin: 2rem 0;

  ul {

    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.11);
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0;
      margin: 0;

      &.active {
        border: 1px solid rgba(0, 0, 0, 0.22);
        background-color: rgba(0, 0, 0, 0.21);
      }

      a,
      a:active,
      a:visited {
        display: inline-block;
        padding: 0.4rem 0.9rem;
        text-decoration: none;
        color: #333;
      }

      &:hover {
        background-color: transparent;
        a {
          color: #000;
        }
      }

    }
  }
}

mark {
  background-color: rgba(249, 238, 123, 0.5);
  border-bottom: 1px solid rgba(249, 238, 123, 1);
}
