@import 'settings';
@import 'fonts';
@import '../node_modules/bulma/bulma';
@import 'magnific-popup/main';
@import 'breakpointdebug';
@import 'prism';

// ---- Grid ------
body.homepage .grid {
  display: grid;
  grid-template-columns: 4% 2fr 1fr 4%;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    ". header  header  ."
    ". article article ."
    ". section section ."
    ". aside   aside   .";

  @include tablet {
    grid-template-areas:
      ". header  header  ."
      ". article aside   ."
      ". section section .";
  }

  header {
    grid-area: header;
  }

  article {
    grid-area: article;
    margin-bottom: 0;

    hr {
      margin-bottom: 0;
    }
  }

  section {
    grid-area: section;
    margin: 0;
    padding: 0;

    @include tablet {
      article {
        width: 66.67%;
      }
    }
  }

  aside {
    grid-area: aside;
  }
}

body.detail .grid {
  display: grid;
  grid-template-columns: 4% auto 4%;
  grid-template-rows: auto;
  grid-template-areas:
    ". h ."
    ". a .";

  @include tablet {
    grid-template-columns: 1fr 6fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 4fr 1fr;
  }

  header {
    grid-area: h;
  }

  article {
    grid-area: a;
  }
}



// ----

html {
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: auto;

  @include touch {
    font-size: 15px;
  }
}

body {
  font-family: $font-serif;
  background-color: $color-body;
  color: $color-text-body;
  counter-reset: sidenote-counter;

  &.sans {
    p, li {
      font-family: $font-sans-serif;
      font-size: 1.1rem;
      line-height: 1.7rem;
    }
    p.meta {
      font-family: $font-serif;
      font-size: 1.2rem;
    }
  }

  &.boxed-page {
    background: desaturate(darken($color-body, 15), 25); // Todo: make configurable color
  }

  div.boxed-page {
    margin: 0 auto 2rem;
    max-width: 1140px;
    border: 1px solid darken($color-body, 15);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    background-color: $color-body;
  }
}

header {
  h1 {
    margin-top: 7rem;

    @include touch {
      margin-top: 6rem;
      margin-bottom: 1.5rem;
    }

  }
}

h1,
h2,
h3 {

  font-weight: 400;
  line-height: 1.2;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: darken($color-accent, 15%);
    }
  }
}

.content h1, h1 {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;

  @include desktop {
    font-size: 2.5rem;
  }

  @include widescreen {
    font-size: 3.2rem;
  }
}

.content h2 {
  margin: 2.2rem 0 0 0;
  font-size: 1.8rem;

  @include desktop {
    font-size: 2.2rem;
  }

  @include widescreen {
    font-size: 2.4rem;
  }
}

.content h3, aside h3 {
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 0;
}

body p.subtitle {
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;

  @include tablet {
    font-size: 1.3rem;
    line-height: 2rem;
  }

}

p {
  font-family: $font-serif;
}

hr {
  margin: 2.2rem 0;
}

a:hover {
  text-decoration: underline;
}

p.meta {
  font-size: 1.1rem;
  color: #555;
  margin: 0.7rem 0;
  font-style: italic;

  a {
    &:hover {
      color: darken($color-accent, 20%);
    }
  }
}

table {
  width: 100%;
  clear: left;
  text-align: right;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  border-collapse: separate;
  border-spacing: 0 5px;
  -webkit-font-feature-settings: 'tnum';
  /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
}

thead th {
  border-bottom: 1px solid #666;
  font-weight: bold;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

td.text {
  text-align: left;
}

span.table-label {
  padding-top: 8px;
}

/* to maintain height relative to table header row */
table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;

  th {
    border-bottom: 1px solid #333333;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
    text-align: center;
  }

  th.cmid {
    border-bottom: 1px solid #666666;
  }

  th.nocmid {
    border-bottom: none;
  }

  tbody tr:first-child td {
    padding-top: 0.65ex;
  }

   /* add space between thead row and tbody */
  td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
  }

  caption {
    font-size: 90%;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top;
  }

  tbody tr td.l {
    text-align: left !important;
  }

  tbody tr td.c {
    text-align: center !important;
  }

  tbody tr td.r {
    text-align: right !important;
  }

}

article {

  figure {
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 3em;
  }

  figcaption {
    float: right;
    clear: right;
    margin-right: -48%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
  }

  figure.fullwidth figcaption {
    margin-right: 24%;
  }

  @include desktop {
    padding-right: 2rem;
  }

}

aside {
  padding-top: 0.8rem;
  color: lighten(desaturate($color-text-body, 50), 20);

  p, ol, ul {
    font-size: 1rem !important;
    line-height: 1.7rem;
  }

  li, li a {
    color: lighten(desaturate($color-text-body, 50), 30);
    font-size: 1rem !important;
    line-height: 1.4rem !important;

  }

}

div.sideimage {
  padding-top: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;

  @include tablet {
    float: right;
    clear: right;
    margin-right: calc(-42% - 3rem);
    width: 42%;
    margin-right: 0;
    width: 100%;

    .imageholder {
      width: 47%;
      position: absolute;
      right: 0;
      margin-right: calc(-42% - 3rem);
    }
  }

  @include desktop {
    float: none;
    margin-right: 0;
    width: 100%;

    .imageholder {
      width: 50%;
      margin-right: calc(-50% - 3rem);
    }
  }

}

article p a,
aside p a {
    color: $color-accent;
    text-decoration: underline;
    text-shadow: 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white;
    &:hover {
      color: darken($color-accent, 11%);
    }
  }


section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p, ol, ul {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

ul li {
  list-style: disc;
}

blockquote {

  border-left: 5px solid #CCC;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-style: italic;
  margin-left: 0;
  padding: 0.7rem 1.4rem;

  footer {
    font-size: 1.1rem;
    font-style: normal;
    text-align: right;

  }

}

samp {
  background-color: transparent;
}



.table-caption {
  float: right;
  clear: right;
  margin-right: calc(-50% - 3rem);
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
}


.imageholder {
  padding: 4px;
  background-color: lighten($color-body, 10);
  border: 1px solid darken($color-body, 20);
  display: block;

  @include tablet {
    body.detail & {
      margin: 0 -4em;
    }
  }

  a {
    background: none;
    background-color: desaturate(darken($color-body, 10), 40);
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  span {
    font-style: italic;
    text-align: center;
    display: block;
    color: #666;
    margin: 0.5em 0;
  }

}


.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: #E8E8E8;
  padding: 2px;
}

h1 .code, h2 .code, h3 .code {
  font-size: 0.80em;
}

.sidenote .code {
  font-size: 1rem;
}

.content pre {
  background-color: rgb(244, 243, 236);
  white-space: pre-wrap;
  font-size: 0.9rem;

  // @include touch {
  //   margin-right: -260px;
  // }

  .code {
    overflow-x: scroll;
  }
}

.fullwidth {
  max-width: 90%;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input[type="search"] {
  border: 1px solid darken($color-body, 25);
  padding: 4px;
  font-family: $font-sans-serif;
  font-size: 1.0rem;
  height: 2rem;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

nav#mainnav {
  border-bottom: 1px solid darken($color-body, 15);
  background: transparentize(darken($color-body, 10), 0.15);
  min-height: 3rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;

  span.sitename,
  span.pagename {
    font-size: 1.4em;
    line-height: 2.4em;
    position: absolute;
    margin-left: 0.75rem;

    a {
      font-family: $font-serif;
    }

    @include desktop {
      font-size: 1.5em;
      line-height: 2.2em;
    }
    @include widescreen {
      font-size: 1.6em;
      line-height: 2.1em;
    }
  }

  a {
    font-family: $font-sans-serif;
    color: #222;
    text-decoration: none;
  }

}


/* Pagination */
div.pagination {
  margin: 2rem 0;

  ul {

    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0;
      margin: 0 2px;

      &.active {
        border: 1px solid rgba(0, 0, 0, 0.22);
        background-color: rgba(0, 0, 0, 0.21);
      }

      a,
      a:active,
      a:visited {
        display: inline-block;
        padding: 0.4rem 0.9rem;
        text-decoration: none;
        color: #333;
      }

      &:hover {
        background-color: transparent;
        a {
          color: #000;
        }
      }

    }
  }
}

mark {
  background-color: rgba(249, 238, 123, 0.5);
  border-bottom: 1px solid rgba(249, 238, 123, 1);
}

body p.small, body ul.small li {
  font-size: 1rem;
  line-height: 1.4rem;
}